ul {
    list-style-type: none;
}

li {
    border-radius: 50%;
    border: 4px solid red;
    width: 20px;
    height: 20px;
    background: yellow;
    margin: 1em 0;
}

li div {
    margin-left: 2em;
    min-width: 10em;
    /* Förstår inte varför divven inte anpassar sin bredd till innehållet. Att lösa senare... */
}